---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import confirmationImg from '../../images/confirmationImg.png';
import homeIcon from '../../images/homeIcon.png';

---
<Layout title="Meditations in Cheer - Submission Complete">
    <main class="w-full h-full p-10 flex items-center flex-col justify-center">
        <a href="/" class="fixed top-4 right-4 w-24 h-24" ><Image src={homeIcon} alt="to home page" class="w-full h-full rounded-lg" /></a>
        <Image class="w-full max-w-3xl bg-transparent" src={confirmationImg} alt="confirming song submission" />
        <h1 class="m-auto left-0 right-0">Your song has been uploaded!</h1>
    </main>
</Layout>