---
import Layout from "../../layouts/Layout.astro";
import SubmissionForm from '../../components/SubmissionForm';
---

<Layout title="Welcome to Astro.">
  <main>
    <SubmissionForm />
  </main>
</Layout>
